* {
    box-sizing: border-box;
    margin: 0;
}

.app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    padding: 15px;
}
