* {
    box-sizing: border-box;
    margin: 0;
}

.app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bgImgContainer {
    width: 100%;
    height: 30vh;
    position: absolute;
    z-index: -1;
    height: 100%;
}

.bgImg {
    width: 100%;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20vh;
    background-color: rgba(51, 46, 46, 0.699);
    color: white;
    border-radius: 15px;
    padding: 15px;
}

.themeContent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
